<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <title>Add a New Pet</title>
</head>

<body>
    <section>
        <div class="container">
            <h1>Add a New Pet</h1>

            <form th:object="${pet}" th:action="@{/user/add_pet}" method="post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}" required="required" placeholder="Enter pet's name" />
                </div>
                <div class="form-group">
                    <label for="age">Age:</label>
                    <input type="number" class="form-control" id="age" th:field="*{age}" required="required" placeholder="Enter pet's age" />
                </div>
                <div class="form-group">
                    <label for="breed">Breed:</label>
                    <input type="text" class="form-control" id="breed" th:field="*{breed}" required="required" placeholder="Enter pet's breed" />
                </div>
                <div class="form-group">
                    <label for="gender">Gender:</label>
                    <select class="form-control" id="gender" th:field="*{gender}" required="required">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="medicalNeeds">Medical Needs:</label>
                    <input type="text" class="form-control" id="medicalNeeds" th:field="*{medicalNeeds}" placeholder="Enter any medical needs (optional)" />
                </div>

                <div class="text-center">
                    <button type="submit" class="btn bg-primary btn-lg text-white">Add</button>
                </div>
            </form>
        </div>
    </section>
</body>

</html>
