<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>

<body>
    <section>
        <div class="container">
            <div class="row">

                <div class="col-md-8 offset-md-2">

                    <div class="my-card mt-2">

                        <form novalidate th:action="@{/do_register}" method="post" th:object="${user}" class="my-5">

                            <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert"
                                role="alert">
                                <p class="text-center" th:text="${session.message.content}"></p>
                                <th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
                            </div>

                            <div class="container text-center">
                                <img style="width: 70px;" src="" th:src="@{/img/note.png}" alt="" />
                            </div>

                            <h1 class="p-2 text-center">Register Here!!!</h1>
                            <div class="form-group">
                                <label for="InputName">Name</label>
                                <input name="name" type="text" class="form-control"
                                    th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" id="InputName"
                                    aria-describedby="emailHelp" placeholder="Enter your name" required
                                    th:value="${user.name}">
                                <small class="text-danger" th:errors="*{name}"></small>

                            </div>

                            <div class="form-group">
                                <label for="InputEmail1">Email address</label>
                                <input name="email" type="email" class="form-control"
                                    th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}" id="InputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter email" required
                                    th:value="${user.email}">
                                <small class="text-danger" th:errors="*{email}"></small>
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                    anyone else.</small>
                            </div>

                            <div class="form-group">
                                <label for="InputPassword1">Password</label>
                                <input name="password" type="password" class="form-control"
                                    th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}" id="InputPassword1"
                                    placeholder="Password" required>
                                <small class="text-danger" th:errors="*{password}"></small>
                            </div>

                            <div class="form-group">
                                <label class="form-check-label" for="InputAbout">About</label>
                                <textarea name="about" th:text="${user.about}"
                                    placeholder="Enter Something About Yourself" rows="3"
                                    class="form-control"></textarea>
                                <small class="text-danger" th:errors="*{about}"></small>
                            </div>

                            <div class="form-group form-check text-center">
                                <input type="checkbox" name="agreement" class="form-check-input" id="agreement" />
                                <label for="agreement">Accept Terms And Conditions</label>
                            </div>

                            <div class="container text-center">
                                <button type="submit" class="btn bg-primary btn-lg text-white">Submit</button>
                                <button type="reset" class="btn bg-primary btn-lg text-white">Reset</button>
                                <a href="" th:href="@{/PetSitterSignUp}" class="btn btn-secondary btn-lg text-white">Register as Pet Sitter</a>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>

</body>

</html>
